@using System.Text.RegularExpressions
@using AppVeyorDashboard.Models.ViewDeployment
@using Humanizer

@model ViewDeploymentModel

@{
   Layout = null;
}

@{
   var className = Model.Status == "success" ? "success" : 
      Model.Status == "failed" ? "danger" : 
         Model.Status == "cancelled" ? "warning" : 
            Model.Status == "running" || Model.Status == "queued" ? "info" : "";
}

<div class="@Regex.Replace(Regex.Replace(Model.EnvironmentName, "[^a-zA-Z0-9-]", "-"), "--+", "-").Trim('-').ToLower() @Model.Status @Model.FinishedAt.ToString("yyyy-MM-dd-HH-mm-ss-fff") deployment col-4">
   <div class="alert alert-@className">
      <h3>@Model.EnvironmentName</h3>
      <h5>
         <span class="badge badge-pill badge-@className">@Model.Status</span>
         <span class="badge badge-info">@Model.Version</span>
      </h5>
      @if (Model.FinishedAt > DateTime.MinValue)
      {
         <div>
            Deployed
            <span class="no-wrap">@Model.FinishedAt.Humanize()</span>

            @if (Model.DeploymentTime != null)
            {
               <span class="no-wrap">in <em>@Model.DeploymentTime.Value.Humanize()</em></span>
            }
         </div>
      }
   </div>
</div>